@page
@model IndexModel
@{
    ViewData["Title"] = "Upload an Image";
}

<div>
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload" />
        <input type="submit" />
    </form>
</div>